<table class="table-section">
              <thead>
                <tr>
                  <th><b>From Customer</b></th>
                  <th><b>Sent to</b></th>
                  <th><b>Product name</b></th>
                  <th><b>At</b></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
<% recommendations.each do |recommendation| %>
  <tr>
    <td><%= recommendation.customer.name %></td>
    <td><%= recommendation.email %></td>
    <td><a href="<%= shop_url+recommendation.product_url %>"><%=recommendation.product_name%></a> </td>
    <td><%= recommendation.created_at %> </td>
    <td><a href="#" class="btn default" onclick="newModal('<%= recommendation_path(recommendation) %>','Comment')">Show Comment</a></td>
  </tr>
<% end %>

              </tbody>
              </table>    


