<style type="text/css">
  .recommendation_form form { 
    display: inline-block;
    padding: 20px;
    background-color: <%= bg_color %>;
    border-style: solid;
    border-color: <%= border_color %>;
    border-width: <%= border_size %>px;
    color: <%= text_color %>;
    font-family: <%= font_family %>;
    width: <%= width %>px;
  }

  .recommendation_form btn {
    color: <%= button_color %>;
  }

  .recommendation_form input,textarea{
    width: 100%;
    margin: 5px;
  }
  
  </style>


{% if customer %}
<div class="recommendation_form">
<form class="form" id="recommendation_form" action="http://localhost:3000/recommendations" accept-charset="UTF-8" method="post">

  <input placeholder="Email of your friend" type="text" name="recommendation[email]"/>
  <textarea placeholder="Your comment about this product" name="recommendation[comment]"></textarea>

  <input value="{{product.id}}" type="hidden" name="product[product_id]"/>
  <input value="{{product.title}}" type="hidden" name="product[name]"/>
  <input value="{{product.url}}" type="hidden" name="product[url]"/>
  <input value="{{product.price}}" type="hidden" name="product[price]" />
  <input value="{{product.description}}" type="hidden" name="product[description]" />


  <input value="{{customer.id}}" type="hidden" name="customer[customer_id]"/>
  <input value="{{customer.name}}" type="hidden" name="customer[name]"/>
  <input value="{{customer.email}}" type="hidden" name="customer[email]"/>

  <input type="submit" name="commit" value="Send my recommendation!" class="btn"/>
</form>
</div>

{% endif %}
